html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;

	background: #f6f6f6 !important;

	font-family: 'Open Sans', sans-serif;
}

div, span, th, td, label, h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
}

/* hide main content */
#MainContent {
	display: none;
}

/* ovverview*/
.overview {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
}

/* sidebar */

.courselist-sidebar {
	width: 240px;
	height: 100%;
	padding: 24px 0;

	background: #444;
	color: #eee;
}

.sidebar-item {
	display: flex;
	position: relative;
	padding: 8px 12px;

	z-index: 1;

	background: rgba(0,0,0,0);
	transition: background 100ms;

	font-size: 14px;

	cursor: pointer;
}

.sidebar-item:hover, .sidebar-item.selected {
	background: rgba(0,0,0,0.375);
}

.sidebar-item > .name {
	flex: 1 1;
}

.sidebar-item > .grade {
	margin-left: 8px;
	font-weight: 600;
}

/* marking period selector */

.mp-select {
	display: flex;
	width: 100%;
	margin-bottom: 16px;
}

.courselist-sidebar h3 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #aaa;
}

.mp-select .mp-option {
	flex: 1 1;
	height: 36px;

	text-align: center;
	font-size: 20px;
	font-weight: 300;
}

.mp-option input {
	display: none;
}

.mp-option label {
	display: block;
	padding-top: 7px;
	padding-bottom: 6px;
	cursor: pointer;

	background: rgba(255,255,255,0);

	transition: background 100ms;
}

.mp-option input:checked + label, .mp-option label:hover {
	background: rgba(255,255,255,0.25);
}

/* logo */

#logo {
	position: absolute;
	bottom: 20px;
	left: -4px;
	width: 240px;
	height: 240px;
	opacity: 0.125;
}

/* course view */

.course-view-wrapper {
	flex: 1 1;
	display: flex;
	justify-content: center;
	padding: 0 24px;

	overflow: scroll;
}

.course-view {
	max-width: 600px;
	width: 100%;
}

.course-view > .notice {
	margin: 48px 0;
	font-weight: 300;
}

.course-view > .header {
	display: flex;
	margin-top: 48px;
}

.course-view > .header .vert {
	flex: 1 1;
	display: flex;
	flex-direction: column;
}

.course-view > .header h1 {
	margin-top: 0;
	margin-bottom: 4px;
	color: #999;
	font-weight: 300;
}

.course-view > .header .updated {
	color: #666;
	font-weight: 300;
}

.course-view > .header .grade {
	color: #999;
	font-size: 32px;
	font-weight: 300;
}

.course-view table {
	width: 100%;
	padding: 1px 0;

	/* cellspacing=0 */
	border-spacing: 0;
	border-collapse: separate;
}

.course-view table .name {
	width: 6%;
}

.course-view table .due {
	width: 2%;
}

.course-view table .grade {
	width: 1.5%;
}

.course-view table .avg-grade {
	width: 1%;
	color: #aaa;
}

.course-view > .category {
	margin: 30px 0;
	padding: 24px;

	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.125);
}

.category .card-title {
	display: flex;
}

.category .weight {
	flex: 1 1;
	margin-left: 8px;
	margin-top: 4px;

	color: #aaa;

	font-size: 20px;
	font-weight: 300;
}

.category .average {
	color: #555;
	font-size: 24px;
	font-weight: 300;
}

.category h2 {
	margin-top: 0;
	margin-bottom: 4px;

	color: #555;
	font-weight: 300;
}

.category th {
	text-align: left;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #aaa;
}

.assignment {
	background: rgba(0,0,0,0);
	transition: background 100ms;
	font-weight: 300;
}

.assignment:hover {
	background: rgba(0,0,0,0.03125);
}

.assignment .grade .score {
	font-weight: 600;
}

.assignment .grade .aside {
	color: #aaa;
}