html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;

	background: #f0f0f0;
}

.overview {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
}

.courselist-sidebar {
	width: 240px;
	height: 100%;
	padding: 24px 0;

	background: #444;
	color: #eee;
}

.sidebar-item {
	display: flex;
	padding: 12px;

	font-size: 14px;

	cursor: pointer;
}

.sidebar-item:hover {
	background: rgba(0,0,0,0.375);
}

.sidebar-item > .name {
	flex: 1 1;
}

.sidebar-item > .grade {
	margin-left: 8px;
	font-weight: 600;
}

.course-view-wrapper {
	flex: 1 1;
	display: flex;
	justify-content: center;
	padding: 0 24px;

	overflow: scroll;
}

.course-view {
	max-width: 600px;
	width: 100%;
}

.course-view table {
	width: 100%;
}

.course-view table .name {
	width: 6%;
}

.course-view table .due {
	width: 2%;
}

.course-view table .grade {
	width: 1%;
}

.course-view > .category {
	margin: 30px 0;
	padding: 24px;

	background: #fff;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.125);
}

.category .card-title {
	display: flex;
}

.category .weight {
	flex: 1 1;
	margin-left: 8px;
	margin-top: 4px;

	color: #aaa;

	font-size: 20px;
	font-weight: 300;
}

.category .average {
	font-size: 24px;
	font-weight: 300;
}

.category h2 {
	margin-top: 0;
	margin-bottom: 4px;

	color: #555;
	font-weight: 300;
}

.category th {
	text-align: left;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #aaa;
}

.assignment {
	font-weight: 300;
}