.course-view {
	max-width: 600px;
	width: 100%;
}

.course-view > .notice {
	margin: 48px 0;
	font-weight: 300;
}

.course-view > .header {
	display: flex;
	margin-top: 48px;
}

.course-view > .header .vert {
	flex: 1 1;
	display: flex;
	flex-direction: column;
}

.course-view > .header h1 {
	margin-top: 0;
	margin-bottom: 4px;
	color: #999;
	font-weight: 300;
}

.course-view > .header .updated {
	color: #666;
	font-weight: 300;
}

.course-view > .header .grade {
	color: #999;
	font-size: 32px;
	font-weight: 300;
}

.course-view table {
	width: 100%;
	padding: 1px 0;

	/* cellspacing=0 */
	border-spacing: 0;
	border-collapse: separate;
}

.course-view table .name {
	width: 6%;
}

.course-view table .due {
	width: 2%;
}

.course-view table .grade {
	width: 1.5%;
}

.course-view table .avg-grade {
	width: 1%;
	color: #aaa;
}

.course-view > .category {
	margin: 30px 0;
	padding: 24px;

	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.125);
}

.category .card-title {
	display: flex;
}

.category .weight {
	flex: 1 1;
	margin-left: 8px;
	margin-top: 4px;

	color: #aaa;

	font-size: 20px;
	font-weight: 300;
}

.category .average {
	color: #555;
	font-size: 24px;
	font-weight: 300;
}

.category h2 {
	margin-top: 0;
	margin-bottom: 4px;

	color: #555;
	font-weight: 300;
}

.category th {
	text-align: left;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	color: #aaa;
}

.assignment {
	background: rgba(0,0,0,0);
	transition: background 100ms;
	font-weight: 300;
}

.assignment:hover {
	background: rgba(0,0,0,0.03125);
}

.assignment .grade .score {
	font-weight: 600;
}

.assignment .grade .aside {
	color: #aaa;
}