/* 300 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-light.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-lightitalic.ttf');
}

/* 400 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-italic.ttf');
}

/* 600 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-semibold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-semibolditalic.ttf');
}

/* 700 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-bold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-bolditalic.ttf');
}

/* 800 */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-extrabold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 800;
	src: local('Open Sans'), url('chrome-extension://__MSG_@@extension_id__/fonts/opensans-extrabolditalic.ttf');
}