* {
	font-family: 'Open Sans';
}

body {
	margin: 32px;

	background: #e0e0e0;

	-webkit-user-select: none;
}

h1 {
	margin-bottom: 0;
	text-align: center;
	color: #666;

	font-size: 32px;
	font-weight: 300;
}

#version {
	margin-bottom: 16px;
	text-align: center;
	color: #aaa;
	font-size: 14px;
}

#container {
	box-sizing: border-box;
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
}

.panel {
	padding: 24px;
	background: #fff;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.125);
}

.panel + .panel {
	margin-top: 36px;
}

h2 {
	margin: 0;
	font-size: 24px;
	font-weight: 300;
}

h3 {
	font-weight: 600;
	margin-bottom: 0;
}

p {
	margin: 8px 0;

	font-family: 'Open Sans';
}

.sub {
	color: #888;
	font-size: 14px;
}

label {
	font-size: 14px;
}

.fullwidth {
	display: flex;
	justify-content: justify;
	width: 100%;
}

.fullwidth input {
	flex: 1 1;
	margin-right: 16px;
}

.fullwidth label {
	width: 140px;
}

.save-opts.hidden {
	opacity: 0;
	left: -8px;

	cursor: default;
}

.save-opts {
	float: right;
	position: relative;
	left: 0;
	opacity: 1;

	background: #e0e0e0;
	border: none;
	border-right: 2px solid #bbb;

	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;

	-webkit-transition: opacity 0.25s, left 0.25s ease-out, background 0.1s, color 0.1s;

	cursor: pointer;
}

.save-opts:hover {
	background: #336e7b;
	color: #fff;
}

.logout {
	display: block;
	margin: 0 auto;

	font-family: 'Open sans';
	font-size: 18px;
	font-weight: 300;
	
	cursor: pointer;
}

#logo {
	display: block;
	width: 100%;
	max-width: 360px;
	margin: 0 auto;

	opacity: 0.5;
}

footer {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	color: #aaa;
	text-align: center;
	font-size: 14px;
	font-weight: 300;
}